body {
    background-image: linear-gradient(to top, silver, white);
}

.topnav {
    background-color: dimgrey;
    overflow: hidden;
    position: fixed;
    padding-top: 2px;
    padding-bottom: 2px;
    left: 0px;
    top: 0px;
    width: 100%;
}

.topnav a {
    float: left;
    color: lightgrey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.topnav a:hover {
    outline-color: lightgrey;
    outline-style: groove;
    outline-width: 2px solid;
}

.topnav a.active {
    background-color: black;
    color: darkgrey;
    text-decoration: underline;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
    position: center;
    border-radius: 50%;
}