body {
    background-image: linear-gradient(45deg, palegoldenrod 25%, transparent 25%), 
    linear-gradient(-45deg, palegoldenrod 25%, transparent 25%), 
    linear-gradient(45deg, transparent 75%,palegoldenrod 75%), 
    linear-gradient(-45deg, transparent 75%, palegoldenrod 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

.topnav {
    background-image: linear-gradient(to top, silver, white);
    overflow: hidden;
    position: fixed;
    padding: 2px;
    left: 0px;
    top: 0px;
    width: 100%;
}

.topnav a {
    float: left;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 18px;
}

.topnav a:hover {
    outline-color: black;
    outline-style: solid;
    outline-width: 2px;
}

.topnav a.active {
    color: darkblue;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: darkblue;
}

p {
    
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 35%;
}